<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Servicios</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h3>Dashboards</h3>
        <p>Desarrollo de dashboards en Power BI y Looker Studio.</p>
      </div>

      <div class="col-md-4">
        <h3>Análisis Estadístico</h3>
        <p>Análisis descriptivos, inferenciales y automatización de reportes.</p>
      </div>

      <div class="col-md-4">
        <h3>Bioinformática</h3>
        <p>Análisis filogenéticos, genómicos y bioestadísticos.</p>
      </div>
    </div>
  </div>
</section>
