<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Servicios</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h3>Dashboards</h3>
        <p style="text-align: justify;">Diseño y desarrollo de dashboards operativos y ejecutivos para el seguimiento de indicadores, monitoreo de actividades y toma de decisiones basada en datos.</p>
      </div>

      <div class="col-md-4">
        <h3>Análisis Estadístico</h3>
        <p style="text-align: justify;">Análisis estadístico descriptivo e inferencial para identificar patrones, tendencias y relaciones que apoyen la toma de decisiones basada en datos.</p>
      </div>

      <div class="col-md-4">
        <h3>Bioinformática</h3>
        <p style="text-align: justify;">Análisis filogenéticos, genómicos y bioestadísticos.</p>
      </div>

      <div class="col-md-4">
        <h3>Automatización de análisis</h3>
        <p style="text-align: justify;">Automatización de procesos de datos mediante el desarrollo de bases de datos, sistemas de captura, limpieza de información y generación automática de reportes.</p>
      </div>
      
    </div>
  </div>
</section>
